body {
    font-family: Arial, sans-serif;
    background-color:white;
    background-image:url(../images/quiz6.photo.jpg);
    background-size: cover;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(225, 230, 230, 0.959);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    color: #e7e1e1;
}

.form-group {
    margin-bottom: 20px;
    color: #fff;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.text-danger {
    color: red;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
